.DS_Store
__pycache__/
*.pyc
.venv/
venv/
.vscode/

02_Data/*.txt
02_Data/*.csv
02_Data/*.zip
02_Data/Cats/
02_Data/Dogs/

04_Output/
02_Data/DSM010 Mid-term Coursework Data Sets-20260706/
02_Data/text_docs_200/
